{:deps    {org.clojure/clojure             {:mvn/version "1.9.0"}
           org.clojure/clojurescript       {:mvn/version "1.10.339"}
           com.bhauman/figwheel-main       {:mvn/version "0.1.9"}

           ;; Frameworks
           reagent                         {:mvn/version "0.8.1"}
           re-frame                        {:mvn/version "0.10.6"}

           ;; Routing
           kibu/pushy                      {:mvn/version "0.3.8"}
           bidi                            {:mvn/version "2.1.4"}

           ;; Utilities
           camel-snake-kebab               {:mvn/version "0.4.0"}}

 :paths   ["src/clj" "src/cljs" "resources" "target"]

 :aliases {:dev  {:main-opts  ["-m" "figwheel.main" "-b" "dev" "-r"]
                  :extra-deps {figwheel-pushstate-server {:mvn/version "0.1.2"}}}
           :dist {:main-opts ["-m" "figwheel.main" "-bo" "dist"]}}}
